USE [master]
GO
/****** Object:  Database [Bar]    Script Date: 06/10/2018 12:24:51 a. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Bar')
BEGIN
CREATE DATABASE [Bar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bar]
GO
USE [Bar]
GO
/****** Object:  Table [dbo].[Banda]    Script Date: 06/10/2018 12:24:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Banda]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Banda](
	[id_Banda] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Genero] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Banda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Bebida]    Script Date: 06/10/2018 12:24:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bebida]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bebida](
	[id_Bebida] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[VolumenAlcohol] [int] NULL,
	[ContenidoNeto] [varchar](50) NULL,
	[Precio] [money] NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Bebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Comida]    Script Date: 06/10/2018 12:24:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comida]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comida](
	[id_Comida] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[Descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Comida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 06/10/2018 12:24:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cuenta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cuenta](
	[id_Cuenta] [int] IDENTITY(1,1) NOT NULL,
	[id_Mesa] [int] NULL,
	[id_Empleado] [int] NULL,
	[fecha] [datetime] NULL,
	[id_Bebida] [int] NULL,
	[id_Comida] [int] NULL,
	[id_Evento] [int] NULL,
	[Total] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 06/10/2018 12:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Empleado](
	[id_Empleado] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[id_TipodeEmpleado] [int] NOT NULL,
	[Turno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 06/10/2018 12:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Evento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Evento](
	[id_Evento] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Nombre] [varchar](50) NULL,
	[id_Banda] [int] NULL,
	[Descripcion] [text] NULL,
	[PrecioEntrada] [money] NULL,
	[CargoxServicio] [float] NULL,
	[Total] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 06/10/2018 12:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mesa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Mesa](
	[id_Mesa] [int] NOT NULL,
	[id_TipodeMesa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Mesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tipo_Empleado]    Script Date: 06/10/2018 12:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tipo_Empleado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tipo_Empleado](
	[id_TipodeEmpleado] [int] NOT NULL,
	[Trabajo] [varchar](20) NULL,
	[Sueldo] [varchar](20) NULL,
	[AreadeTrabajo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipodeEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tipo_Mesa]    Script Date: 06/10/2018 12:24:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tipo_Mesa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tipo_Mesa](
	[id_TipodeMesa] [int] NOT NULL,
	[TipoMesa] [varchar](20) NULL,
	[num_Asientos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipodeMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Bebida]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_Bebida] FOREIGN KEY([id_Bebida])
REFERENCES [dbo].[Bebida] ([id_Bebida])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Bebida]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_Bebida]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Comida]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_Comida] FOREIGN KEY([id_Comida])
REFERENCES [dbo].[Comida] ([id_Comida])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Comida]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_Comida]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Empleado]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_Empleado] FOREIGN KEY([id_Empleado])
REFERENCES [dbo].[Empleado] ([id_Empleado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Empleado]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_Empleado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Evento]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_Evento] FOREIGN KEY([id_Evento])
REFERENCES [dbo].[Evento] ([id_Evento])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Evento]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_Evento]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Mesa]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK_cuenta_Mesa] FOREIGN KEY([id_Mesa])
REFERENCES [dbo].[Mesa] ([id_Mesa])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_cuenta_Mesa]') AND parent_object_id = OBJECT_ID(N'[dbo].[cuenta]'))
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK_cuenta_Mesa]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Empleado_Tipo_Empleado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Empleado]'))
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Tipo_Empleado] FOREIGN KEY([id_TipodeEmpleado])
REFERENCES [dbo].[Tipo_Empleado] ([id_TipodeEmpleado])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Empleado_Tipo_Empleado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Empleado]'))
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Tipo_Empleado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Evento_Banda]') AND parent_object_id = OBJECT_ID(N'[dbo].[Evento]'))
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Banda] FOREIGN KEY([id_Banda])
REFERENCES [dbo].[Banda] ([id_Banda])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Evento_Banda]') AND parent_object_id = OBJECT_ID(N'[dbo].[Evento]'))
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Banda]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Mesa_Tipo_Mesa]') AND parent_object_id = OBJECT_ID(N'[dbo].[Mesa]'))
ALTER TABLE [dbo].[Mesa]  WITH CHECK ADD  CONSTRAINT [FK_Mesa_Tipo_Mesa] FOREIGN KEY([id_TipodeMesa])
REFERENCES [dbo].[Tipo_Mesa] ([id_TipodeMesa])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Mesa_Tipo_Mesa]') AND parent_object_id = OBJECT_ID(N'[dbo].[Mesa]'))
ALTER TABLE [dbo].[Mesa] CHECK CONSTRAINT [FK_Mesa_Tipo_Mesa]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BEBIDA_AlCOHOL]') AND parent_object_id = OBJECT_ID(N'[dbo].[Bebida]'))
ALTER TABLE [dbo].[Bebida]  WITH CHECK ADD  CONSTRAINT [CHK_BEBIDA_AlCOHOL] CHECK  (([VolumenAlcohol]<=(70)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CHK_BEBIDA_AlCOHOL]') AND parent_object_id = OBJECT_ID(N'[dbo].[Bebida]'))
ALTER TABLE [dbo].[Bebida] CHECK CONSTRAINT [CHK_BEBIDA_AlCOHOL]
GO
USE [master]
GO

USE [Bar]
GO
INSERT [dbo].[Comida] ([id_Comida], [Nombre], [Precio], [Descripcion]) VALUES (1, N'Hamburguesa con Papas', 100.0000, N'Hamburguesa normal con papas a la francesa')
GO
INSERT [dbo].[Comida] ([id_Comida], [Nombre], [Precio], [Descripcion]) VALUES (2, N'Boneless', 120.0000, N'Boneless de pollo(500 gr)')
GO
INSERT [dbo].[Comida] ([id_Comida], [Nombre], [Precio], [Descripcion]) VALUES (3, N'Nachos', 100.0000, N'Totopos con queso y salchicha')
GO
INSERT [dbo].[Bebida] ([id_Bebida], [Nombre], [VolumenAlcohol], [ContenidoNeto], [Precio], [Descripcion]) VALUES (1, N'Cuba Libre', 14, N'160 ml', 90.0000, N'Ron con coca y agua mineral adicionado con una rodaja de limon')
GO
INSERT [dbo].[Bebida] ([id_Bebida], [Nombre], [VolumenAlcohol], [ContenidoNeto], [Precio], [Descripcion]) VALUES (2, N'Margarita', 20, N'200ml', 100.0000, N'Liquido margarita mezclado con tequila, limon y sal')
GO
INSERT [dbo].[Bebida] ([id_Bebida], [Nombre], [VolumenAlcohol], [ContenidoNeto], [Precio], [Descripcion]) VALUES (3, N'Vampiro', 20, N'200ml', 110.0000, N'Liquido Sangrita mezclado con tequila, sal y limon.')
GO
INSERT [dbo].[Tipo_Empleado] ([id_TipodeEmpleado], [Trabajo], [Sueldo], [AreadeTrabajo]) VALUES (1, N'Mesero', N'5000', N'Mesas')
GO
INSERT [dbo].[Tipo_Empleado] ([id_TipodeEmpleado], [Trabajo], [Sueldo], [AreadeTrabajo]) VALUES (2, N'Cocinero', N'6000', N'Cocina')
GO
INSERT [dbo].[Tipo_Empleado] ([id_TipodeEmpleado], [Trabajo], [Sueldo], [AreadeTrabajo]) VALUES (3, N'Limpieza', N'3000', N'Baños')
GO
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Apellido], [id_TipodeEmpleado], [Turno]) VALUES (1, N'Daniel ', N'Salinas', 5, 2)
GO
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Apellido], [id_TipodeEmpleado], [Turno]) VALUES (2, N'Mario', N'Gonzalez', 1, 1)
GO
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Apellido], [id_TipodeEmpleado], [Turno]) VALUES (3, N'Jesus', N'Botello', 4, 2)
GO
INSERT [dbo].[Tipo_Mesa] ([id_TipodeMesa], [TipoMesa], [num_Asientos]) VALUES (1, N'individual', 1)
GO
INSERT [dbo].[Tipo_Mesa] ([id_TipodeMesa], [TipoMesa], [num_Asientos]) VALUES (2, N'Normal', 4)
GO
INSERT [dbo].[Tipo_Mesa] ([id_TipodeMesa], [TipoMesa], [num_Asientos]) VALUES (3, N'Familiar', 8)
GO
INSERT [dbo].[Mesa] ([id_Mesa], [id_TipodeMesa]) VALUES (1, 1)
GO
INSERT [dbo].[Mesa] ([id_Mesa], [id_TipodeMesa]) VALUES (2, 1)
GO
INSERT [dbo].[Mesa] ([id_Mesa], [id_TipodeMesa]) VALUES (3, 1)
GO
INSERT [dbo].[Banda] ([id_Banda], [Nombre], [Genero]) VALUES (1, N'Jadafa', N'Rock')
GO
INSERT [dbo].[Banda] ([id_Banda], [Nombre], [Genero]) VALUES (2, N'RapperGang', N'Rap')
GO
INSERT [dbo].[Banda] ([id_Banda], [Nombre], [Genero]) VALUES (3, N'Scream Day', N'Alternativo')
GO
INSERT [dbo].[Evento] ([id_Evento], [Fecha], [Nombre], [id_Banda], [Descripcion], [PrecioEntrada], [CargoxServicio], [Total]) VALUES (1, CAST(N'2018-09-30T18:00:00.000' AS DateTime), N'JadaFest', 1, N'Inicio del tour de JadafaBand', 100.0000, 20, 120.0000)
GO
INSERT [dbo].[Evento] ([id_Evento], [Fecha], [Nombre], [id_Banda], [Descripcion], [PrecioEntrada], [CargoxServicio], [Total]) VALUES (2, CAST(N'2018-10-31T22:00:00.000' AS DateTime), N' HalloweenFest', 2, N'Fiesta de disfraces', 200.0000, 40, 240.0000)
GO
INSERT [dbo].[Evento] ([id_Evento], [Fecha], [Nombre], [id_Banda], [Descripcion], [PrecioEntrada], [CargoxServicio], [Total]) VALUES (3, CAST(N'2018-11-05T22:00:00.000' AS DateTime), N'IndieFest', 5, N'Festival de musica Indie', 200.0000, 50, 250.0000)
GO
SET IDENTITY_INSERT [dbo].[cuenta] ON 
GO
INSERT [dbo].[cuenta] ([id_Cuenta], [id_Mesa], [id_Empleado], [fecha], [id_Bebida], [id_Comida], [id_Evento], [Total]) VALUES (1, 1, 2, CAST(N'2018-10-01T15:00:00.000' AS DateTime), 2, NULL, NULL, 100.0000)
GO
INSERT [dbo].[cuenta] ([id_Cuenta], [id_Mesa], [id_Empleado], [fecha], [id_Bebida], [id_Comida], [id_Evento], [Total]) VALUES (2, 2, 6, CAST(N'2018-10-02T00:00:00.000' AS DateTime), 4, 5, NULL, 170.0000)
GO
INSERT [dbo].[cuenta] ([id_Cuenta], [id_Mesa], [id_Empleado], [fecha], [id_Bebida], [id_Comida], [id_Evento], [Total]) VALUES (3, 5, 12, CAST(N'2018-10-31T22:00:00.000' AS DateTime), 6, 7, 2, 460.0000)
GO
SET IDENTITY_INSERT [dbo].[cuenta] OFF
GO

delete from Mesa
where id_Mesa = 18

delete from comida
where id_Comida = 10

delete from Empleado 
where id_Empleado = 15

delete from Empleado 
where id_Empleado = 14 

delete from Mesa 
where id_Mesa = 17

update Mesa set id_TipodeMesa =1
where id_Mesa = 8

update Empleado set id_TipodeEmpleado = 5
where Nombre ='Diana' and Apellido = 'Perez'

update Bebida set Nombre ='Refresco' 
where id_Bebida = 15

update Comida set Nombre = 'Nachos Especiales'
where Nombre ='Nachos'


SELECT id_TipodeEmpleado,  COUNT(Trabajo) AS TiposdeEmpleado FROM Tipo_Empleado group by id_TipodeEmpleado,Trabajo
SELECT Nombre, MAX(id_Bebida) AS Numero_de_Bebidas FROM Bebida group by Nombre, ID_Bebida
SELECT Nombre, MIN(Precio) AS Precio_minimo FROM Comida group by Nombre, precio HAVING MIN(Precio) <100
SELECT SUM(precio) AS Total_Comidas FROM Bebida
SELECT AVG(precio) AS Promedio_Bebidas FROM Bebida
SELECT * FROM Bebida RIGHT JOIN cuenta ON Bebida.id_Bebida = cuenta.id_Bebida
SELECT * FROM Bebida INNER JOIN Evento on Bebida.Nombre = Evento.Nombre
SELECT * FROM Comida LEFT JOIN cuenta ON comida.id_Comida = cuenta.id_Comida
SELECT * FROM Mesa CROSS JOIN Comida
SELECT nombre AS bebida, VolumenAlcohol AS alcohol, ContenidoNeto AS contenido  FROM Bebida
SELECT nombre + ' ' + ContenidoNeto AS Bebida FROM Bebida
SELECT Nombre + ' ' +apellido AS Empleados FROM Empleado
SELECT  id_Cuenta + ' ' + fecha AS Cuenta,id_Empleado AS Mesero FROM cuenta
SELECT  TipoMesa AS Mesa, num_Asientos  AS Asientos   FROM Tipo_Mesa
SELECT Nombre, Genero FROM Banda WHERE Genero <> 'rap' and genero <>'rap-rock'
SELECT id_Bebida, id_Comida AS Productos, Total FROM cuenta WHERE Total < 300 order by Total
SELECT Nombre, Apellido FROM Empleado WHERE id_TipodeEmpleado = 2
SELECT Nombre AS Bebida, DESCRIPCION FROM Bebida WHERE Precio< 100
SELECT Nombre AS Comida, DESCRIPCION FROM Comida WHERE Precio > 100
SELECT Empleado.id_Empleado, Nombre FROM Empleado JOIN cuenta ON Empleado.id_Empleado = cuenta.id_Empleado group by Empleado.id_Empleado, Nombre
SELECT Tipo_Mesa.id_TipodeMesa, num_Asientos, TipoMesa FROM Tipo_Mesa JOIN Mesa ON Tipo_Mesa.id_TipodeMesa = Mesa.id_TipodeMesa GROUP BY Tipo_Mesa.id_TipodeMesa, num_Asientos, TipoMesa
SELECT Evento.id_Banda, Evento.Nombre, Fecha FROM Evento JOIN Banda ON banda.id_Banda = Evento.id_Banda GROUP BY evento.Nombre, evento.id_Banda, evento.Fecha,Banda.id_Banda,Banda.Nombre